# LangGraph Configuration
NEXT_PUBLIC_API_URL=http://localhost:2024
NEXT_PUBLIC_ASSISTANT_ID=agent
# Optional. Required for Agent Builder deployments.
# Set to "langsmith-api-key" when using a LangSmith PAT.
NEXT_PUBLIC_AUTH_SCHEME=
# Do NOT prefix this with "NEXT_PUBLIC_" as we do not want this exposed in the client.
LANGSMITH_API_KEY=

# Static deployment:
# Configure NEXT_PUBLIC_API_URL to your LangGraph deployment URL directly.
# Example:
# NEXT_PUBLIC_API_URL="https://my-agent.default.us.langgraph.app"
